html{
    font-family: sans-serif;
}
body{
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 130px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
}

.sidebar{
    background-color: rgb(29, 114, 184);
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 70px repeat(10, 40px);
    padding: 25px;
    height: 100vh;
    position: sticky;
    top: 0;
    align-self: start;

}

.square{
    display: inline-block;
    height:35px;
    width: 35px;
    background-color: white;
    margin-right: 15px;
}

.side-header{
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    position: sticky;
}

.sidebar>.item{
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

.icon{
    height: 20px;
}

.item > .icon{
    filter: invert(1);
    padding-right: 15px;
}

.header{
    grid-area: header;
    background-color: white;
    box-shadow: 4px 4px 10px -5px rgb(173, 173, 173);
    position: relative;
    display: grid;
    grid-template-rows: calc(130px*1/3) calc(130px*2/3);
}

.top{
    display: flex;
    align-items: center;
    padding-left: 50px;
    margin-top: 10px;
}
.top>.circle {
    min-height: 40px;
    min-width: 40px;
    background-color: rgb(243, 201, 62);
    border-radius: 50%;
    margin-right: 15px; 
  }

.top>.icon{
    padding-right: 15px;
}

.top>input{
    all: unset;
    width: max(50%, 300px );
    border: none;
    background-color: rgb(227, 231, 253);
    height: 25px;
    border-radius: 10px;
    margin-right: 25px;
    padding-left: 10px;
}

#alarm{
    margin-left: auto;
    margin-right: 10px;
}

.top>p{
    white-space:nowrap;
    font-weight: bold;
    font-size: 14px;
    margin-right: min(100px, 5%);
}

.bottom{
    padding-left: 50px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.bottom>.circle {
    height: 50px;
    width: 50px;
    background-color: rgb(243, 201, 62);
    border-radius: 50%;
    margin-right: 25px; 
    min-height: 50px;
    min-width: 50px;
  }

.bottom>.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.text{
    margin-right: 25px;
}
.text>p{
    font-size: 12px;
    margin: 0;
}

.text>h3{
    font-size: 20px;
    margin: 0;
    white-space: nowrap;
}

.bottom>button{
    all: unset;
    background-color: rgb(29, 114, 184);
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 8px 20px;
    min-width: 45px;
    font-size: 14px;
    margin: 15px;
}

.bottom>button:first-of-type{
    margin-left:auto;
}

.content{
    grid-area: content;
    background-color: rgb(227, 231, 253);
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 50px 275px 50px 1fr 50px;
    padding: 0 25px;
    column-gap: 25px;
}

.projects{
    grid-area: 2 / 1 / 5 / 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-template-rows: repeat(auto-fit, 200px);
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 10px -5px rgb(173, 173, 173);
    border-left: 10px solid rgb(243, 201, 62);
    padding: 25px;
}
.card>h3, p{
    margin: 0px;
}

.card>h3{
    font-size: 18px;
    margin-bottom: 5px;
}

.card>p{
    font-size: 14px;
    color: rgb(88, 88, 88);
    overflow: hidden;
    column-width: 300px;
}

.icons-bar{
    align-self: flex-end;
    height: 65px;
    margin-top: 20px;
    margin-bottom: -15px;
}

.icons-bar>.icon{
    margin-left: 25px;
}

.announcements, .trending{
    background-color: white;
    align-self: start;
    box-shadow: 4px 4px 10px -5px rgb(173, 173, 173);
    border-radius: 5px;
    padding: 15px 20px;
    display: grid;
}

.announcements{
    grid-template-rows: repeat(3,1fr);
    grid-area: 2 / 2 / 3 / 2;
    align-self: stretch;
}

.announcements>.announcement:nth-child(2){
    border-top: 1px solid rgb(199, 199, 199);
    border-bottom: 1px solid rgb(199, 199, 199);
}
.announcement{
    display: grid;
    max-height: 100%;
    padding: 10px 5px;
    min-height: 0;
}

.announcement>h4, p{
    margin: 0px;
}

.announcement>h4{
    font-size: 14px;
}

.announcement>p{
    font-size: 13px;
    margin-top: 1px;
    color: rgb(88, 88, 88);
    overflow: hidden;
    column-width: 210px;
    max-height: 50px;
}

.trending{
    display: grid;
    row-gap: 5px;
    grid-template-rows: repeat(4, 1fr);
    align-self: stretch;
    height: 220px;
}

.user{
    display: flex;
    justify-items: center;
    align-items: center;
}

.user p{
    font-size: 14px;
}
.user>.circle {
    height: 40px;
    width: 40px;
    background-color: rgb(243, 201, 62);
    border-radius: 50%;
    margin-right: 10px; 
}

